*{margin: 0;}

body{
  background-color: #699bc4;
}

.box{
  background-color: #282C34;
  height: 100px;
  width: 100px;
}

header{
  background-color: steelblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

h1{
  text-align: center;
  font-size: 48pt;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button{
  background-color: beige;
  border-radius: 5px;
  box-shadow: 3px 3px #A7A78F;
  margin-right: 5px;
  height: 3rem;
  width: 4rem;
}

button:hover{
  background-color: #a7a78f;
  box-shadow: none;
}

.pgcontent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.burger{
  align-items: center;
  background-color: tan;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding: 6px;
  height: auto;
  width: 60%;
}

.burger>p{
  padding: 8px;
}

.form{
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #D2B48C;
  border-radius: 30px;
  width: 50vw;
  height:25vh;
}

.contentbox{
  align-items: center;
  background-color: tan;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding: 16px;
  height: auto;
  width: 60%;
}

.price{
  position: relative;
  bottom: 82px;
  left: 10.5em;
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  header{
    height: 35vh;
  }

  .price{
    position: static;

  }
}